body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1B203D;
    background-color: #FFFFFF;
    background-image: radial-gradient(#FFFFFF, #BAC5CF);
    display: flex;
    flex-direction: column;
    margin: 0;
}

header,
h1 {
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5vh;
}


header {
    height: 16%;
    width: 100%;
    background-color: #BAC5CF;
    display: flex;
    position: fixed;
}

form input,
button {
    float: left;
    border: none;
    border-radius: 0%;
}

form button {
    height: 100%;
    width: 40px;
    background-color: #FFFFFF;

}

i,
img {
    cursor: pointer;
}

nav li {
    display: inline;
    font-size: 4vh;
}

a {
    text-decoration: none;
}

p {
    margin: 0%;
}

header a {
    color: #1B203D;
}

nav ul {
    margin: 0%;
    display: flex;
    justify-content: space-between;
    padding: 2% 0% 0.5% 0%
}

main {
    display: flex;
    margin-top: 8%;
}

footer {
    height: 25px;
    width: 100%;
    background-color: #BAC5CF;
    text-align: center;
    flex-shrink: 0;
    margin-top: 60px;
}

.header_logo {
    max-height: 10%;
    width: 10%;
}

.header_top {
    max-height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1% 0% 0% 0%
}

.search {
    height: 5vh;
    width: auto;
}

.search_field {
    height: 93%;
    width: auto;

}

.menu {
    display: none;
}



.carousel {
    width: auto;
    height: 20%;
    background-color: #1B203D;
    color: #FFFFFF;
    font-size: 5vh;
}

.carousel p {
    text-align: center;
    padding: 3% 3%;
    margin: 0 0 3% 0;
}

.carousel a {
    font-size: 4vh;
}

h1 {
    margin: 5% 0 5% 0;
}

.carousel_buttons {
    display: flex;
    justify-content: right;
    font-weight: bold;
    gap: 5%;
    margin-right: 5%;
}

.side {
    width: 20%;
}

.main_width {
    width: 60%
}

.bestsellers_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4rem;
    row-gap: 2rem;
    justify-content: space-between;
}

.bestsellers_cover {
    height: auto;
    width: 100%;
}

.bestsellers_info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.cta {
    color: #1B203D;
    background-color: #FFC400;
    border-radius: 0%;
    border: 1px #1B203D;
    padding: 2%;
}

main .fa-shopping-cart {
    padding: 4%;
}


.sign_in {
    color: #1B203D;
    background-color: #BAC5CF;
    border-radius: 0%;
    border: #1B203D;
    padding: 2%;
}



@media only screen and (max-width: 900px) {
    nav {
        display: none;
    }

    header {
        height: 50px;
    }

    .menu {
        display: inline-block;
    }

    #menu {
        display: none;
    }

    .menu:checked~nav {
        display: block;
    }

    .bestsellers_list {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .search_field,
    .carousel {
        display: none;
    }

    header {
        padding-top: 2%;
    }
}

@media only screen and (max-width: 600px) {



    .bestsellers_list {
        display: grid;
        grid-template-columns: 1fr;

    }

    .main_width {
        width: 100%;
    }

    body {
        margin: 0 2% 0 2%;
    }



}

/* nav {
    display: none;
}

#menu {
    display: none;
}

#menu:checked~nav {
    display: block;
} */