/* Element styling */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1B203D;
    background-color: #FFFFFF;
    background-image: radial-gradient(#FFFFFF, #BAC5CF);
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}

header,
h1 {
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
}

h1 {
    margin: 5% 0 5% 0;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0%;
}

header {
    height: 8rem;
    width: 100%;
    background-color: #BAC5CF;
    display: flex;
    position: fixed;
    justify-content: center;
}

form input,
button {
    float: left;
    border: none;
    border-radius: 0%;
    background-color: #FFFFFF;
}

main {
    display: flex;
    margin-top: 8rem;
    justify-content: center;
    margin-bottom: 3rem;
}

main input {
    border: 1px solid #1B203D;
    height: 2rem;
    width: 15rem;
}

main select {
    border: 1px solid #1B203D;
    height: 2rem;
}

i,
img {
    cursor: pointer;
}

nav li {
    display: inline;
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

p {
    margin: 0%;
}

header a {
    color: #1B203D;
}

nav ul {
    margin: 0%;
    display: flex;
    justify-content: space-between;
    padding: 2% 0% 0.5% 0%
}

footer {
    height: 25px;
    width: 100%;
    background-color: #BAC5CF;
    text-align: center;
    flex-shrink: 0;
    margin-top: auto;
}

/* Class styling */

.envelope {
    position: fixed;
    bottom: 5rem;
    right: 5rem;
    color: #1B203D;
}

.header_logo {
    height: 4rem;
    width: 6rem;
    display: block;
}

.header_top {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1% 0% 0% 0%
}

.search {
    height: 2rem;
    width: auto;

}

.search_field {
    height: 100%;
    width: auto;
    padding: 0%;
}

.menu {
    display: none;
}

.search_button {
    height: 2rem;
    width: 40px;
    padding: 0%;
}

main .fa-shopping-cart {
    padding: 4%;
}

.main_width {
    width: 60%
}

/* ==============
Index page
============== */


.carousel {
    width: auto;
    height: 20%;
    background-color: #1B203D;
    color: #FFFFFF;
    font-size: 5vh;
}

.carousel p {
    text-align: center;
    padding: 3% 3%;
    margin: 0 0 3% 0;
}

.carousel a {
    font-size: 4vh;
}


.carousel_buttons {
    display: flex;
    justify-content: right;
    font-weight: bold;
    gap: 5%;
    margin-right: 5%;
}

.bestsellers_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4rem;
    row-gap: 2rem;
    justify-content: space-between;
}

.bestsellers_cover {
    height: auto;
    width: 100%;
}

.bestsellers_info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.cta {
    color: #1B203D;
    background-color: #FFC400;
    border-radius: 0%;
    border: 1px solid #1B203D;
    padding: 2%;
    font-weight: bold;
}


.sign_in {
    color: #1B203D;
    background-color: #BAC5CF;
    border-radius: 0%;
    border: #1B203D;
    padding: 2%;
}

/* =============== 
category page 
===============*/

.filter_sort {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;

}

.filter {
    display: flex;
    flex-grow: 2;
    justify-content: left;
    gap: 1rem;
    align-items: flex-end;
}

.filter_icon {
    display: none;
}

.sort {
    display: flex;
    justify-content: right;
    flex-grow: 1;
    gap: 1rem;
    align-items: flex-end;
}

.clear_list {
    text-decoration: underline;
}

/* ===============
 Game details page 
 ===============*/



.yellow_star {
    color: #FFC400;
}

.white_star {
    color: #FFFFFF;
}

.rating {
    margin: 2% 0%;
}

.new_old_buttons {
    margin-top: 6%;
    margin-bottom: 6%;
    text-align: end;
}

.selected_button {
    color: #1B203D;
    background-color: #FFFFFF;
    border-radius: 0%;
    border: #1B203D;
    padding: 2%;
    text-decoration: underline;
}

.not_selected_button {
    color: #FFFFFF;
    background-color: #1B203D;
    border-radius: 0%;
    border: #1B203D;
    padding: 2%;
}

.details {
    display: grid;
    grid-template-columns: 1fr 1.5fr 0.5fr;
    column-gap: 4rem;
    row-gap: 2rem;
    justify-content: space-between;
}

/* ===============
Log in-create account page 
=============== */

.log_in {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.center {
    text-align: center;
}

.log_in_button {
    width: 5rem;
    text-align: center;
}

.text {
    color: #1B203D;
    text-decoration: underline;
}

/* ===============
Account page
=============== */

.account {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    row-gap: 2rem;
}

.flex_col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.save_account {
    width: 5rem;
    height: 2rem;
}

/* ===============
Checkout and sell pages
=============== */

.checkout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    row-gap: 2rem;
}

.cover_checkout {
    height: 6rem;
}

.summary_games {
    display: grid;
    grid-template-columns: 0.9fr 1.4fr 0.6fr;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.game_number {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sell_select {
    width: 15rem;
}

.add_minus,
.number {
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid #1B203D;
    font-size: 1rem;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

.sum_each_game {
    align-self: center;
    text-align: right;
    font-size: 1.5rem;
    font-weight: bold;

}

.sum_order {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.order {
    float: right;
    margin-top: 1rem;
}

/* ===============
Contact page
=============== */

.contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20rem;
}

.email {
    border: #1B203D;
    width: 12rem;
}

.message {
    border: #1B203D;
    width: 20rem;
}

.send {
    width: 2.5rem;
    align-self: flex-end;
}



@media only screen and (max-width: 910px) {

    nav,
    .icon,
    .filter,
    .sort {
        display: none !important;
    }

    .filter_icon {
        display: inline;
        color: #1B203D;
    }

    header {
        height: 5rem;
    }

    .menu {
        display: inline-block;
    }

    .bestsellers_list {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .details,
    .account,
    .checkout {
        grid-template-columns: 1fr
    }

    .search_field,
    .carousel {
        display: none;
    }

    header {
        padding-top: 2%;
    }
}

@media only screen and (max-width: 600px) {



    .bestsellers_list,
    .account {
        display: grid;
        grid-template-columns: 1fr;

    }

    /* .main_width {
        width: 80%;
    } */

    body {
        margin: 0 2% 0 2%;
    }



}